@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{ 
	margin: 0; 
	padding: 0; 
    color: #2e2e33;
}
body {
	background-color: #f6f6f6;
	font-family: 'Roboto', -apple-system, sans-serif;
}	
main {
	background-color: #2e2e33;
	display: grid;
	justify-content: stretch;
}	
.content {
	background-color: #f6f6f6;
}

.header-line {
	display: grid;
	grid-template-rows: 72px;
	grid-template-columns: 127px 173px;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
}	
.logo {
	background: url(/static/images/partners-logo.svg) no-repeat;
	height: 40px;
	margin: 16px 0;
}
.inter-partners {
	display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}
.inter-partners a {
	display: grid;
	justify-content: center;
	align-content: center;
	text-decoration: none;
}
.inter-partners a div{
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.header-label {
	background-color: #f6f6f6;
	height: 406px;
	display: grid;
	justify-content: center;
    grid-template-rows: repeat(29, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.header-image {
	grid-column: 1 / -1;
	grid-row: 1 / 24;
	background: url(/static/images/shapka.png) 50% 0 no-repeat;
    background-size: cover;
    z-index: 0;
}
.header-welcome {
	grid-column: 2 / 4;
	grid-row: 9 / 30;
    z-index: 1;
	background-color: #f6f6f6;
	max-width: 526px;
	display: grid;
	justify-content: center;
	align-content: center;
    grid-template-rows: auto 54px;
    grid-template-columns: auto;
    padding: 20px 48px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0px 17px 18px 0px rgb(27 35 50 / 10%), 
    			0px 32px 47px 0px rgb(27 35 50 / 20%);

}
.header-present {    
	display: block;
	font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.93px;
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.header-present-buttom {
	display: block;
    background: #0ec645;
    border-radius: 4px;
	display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}
.header-present-buttom a{ 
	display: grid;
	justify-content: center;
	align-content: center;
	text-decoration: none;
 }
.header-present-buttom a div{
	font-size: 16px;
	color: white;
	text-decoration: none;
 }

.form-predict {
	display: grid;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: #f6f6f6;
 }
.row {
	display: grid;
	justify-content: stretch;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(128, 1fr);
    column-gap: 5px;
    width: 75vw;
    padding: 5px 30px;
    height: auto;
	min-height: 40px;
}
.row *{
	height: auto;
}
.border_row {
    border: 10px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}
.border_row, .border_row>div {
	background-color: #f6f6f6;
}
.name_dish {
	grid-column: 1 / 30;
	grid-row: 1 / -2;
	margin-left: 5px;
	margin-right: 5px;
    border-width: 0px;
    border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(192, 192, 192, 0.5);
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
}
.product_description {
	grid-column: 30 / 83;
	grid-row: 1 / -2;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(192, 192, 192, 0.5);
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;

}
.price {
	grid-column: 83 / 98;
	grid-row: 1 / -2;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(192, 192, 192, 0.5);
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;

}
.name_dish:focus, .product_description:focus, .price:focus {
    outline: none;
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
}
.product_description::placeholder,
.name_dish::placeholder,
.price::placeholder{
	text-align: center;
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
	opacity: 0.5;
}
.request {
	width: 100%;
	grid-column: 98 / 113;
	grid-row: 1 / -2;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 2px;
    background: #0ec645;
    cursor: pointer;
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
	color: white;
}
.request:hover {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.category {
	grid-column: 113 / 129;
	grid-row: 1 / -2;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 2px;
	background-color: #f6f6f6;
	text-align: center;
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
}
.label {
	display: grid;
	justify-content: center;
	align-content: end;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
	background-color: #f6f6f6;
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
	padding-bottom: 5px;
	opacity: 0.5;
}
.label:hover {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
    cursor: default;
}
.category-predict {
	grid-column: 98 / 113;
	grid-row: 1 / -2;
    box-sizing: border-box;
    border-width: 0px;
	background-color: #f6f6f6;
	text-align: center;
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
	display: grid;
	align-content: center;
}
.predict {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
	min-height: auto;
}
.word {
	padding-left: 5px;
	padding-right: 5px;
}
.edit {
	grid-column: 113 / 121;
	grid-row: 1 / -2;
}
.delete {
	grid-column: 121 / 129;
	grid-row: 1 / -2;
}

.back {
	display: grid;
	justify-content: start;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
	padding:10px 30px;
	background-color: #f6f6f6;
    max-width: 250px;
}
.back div{
	background-color: #f6f6f6;
    max-width: 100px;
}
.back-button {
	grid-row: 1 / -1;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 3px;
    background: #0ec645;
    cursor: pointer;
    height: 40px;
    width: 100%;
}
.main-button {
	grid-row: 1 / -1;
    box-sizing: border-box;
    border-width: 0px;
    background: #0ec645;
    cursor: pointer;
    height: 40px;
    width: 100%;
}
.back-button, .main-button {
	font-family: 'Roboto', -apple-system, sans-serif;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.high_positive {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(0, 205, 0, 0.8);
}
.high_positive:hover {
	box-shadow: 0px 0px 5px rgba(0, 185, 0, 0.4);
	cursor: pointer;
}
.mid_positive {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(0, 185, 0, 0.5);
}
.mid_positive:hover {
	box-shadow: 0px 0px 5px rgba(0, 165, 0, 0.25);
	cursor: pointer;
}
.low_positive {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(0, 165, 0, 0.2);
}
.low_positive:hover {
	box-shadow: 0px 0px 5px rgba(0, 145, 0, 0.1);
	cursor: pointer;
}

.high_negative {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(205, 0, 0, 0.8);
}
.high_negative:hover {
	box-shadow: 0px 0px 5px rgba(185, 0, 0, 0.4);
	cursor: pointer;
}
.mid_negative {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(185, 0, 0, 0.5);
}
.mid_negative:hover {
	box-shadow: 0px 0px 5px rgba(165, 0, 0, 0.25);
	cursor: pointer;
}
.low_negative {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(165, 0, 0, 0.2);
}
.low_negative:hover {
	box-shadow: 0px 0px 5px rgba(145, 0, 0, 0.1);
	cursor: pointer;
}
.normal {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(105, 105, 105, 0.2);
}
.normal:hover {
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.1);
	cursor: pointer;
}

.another_predict {
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 10px;
    background: rgba(105, 105, 105, 0.2);
    text-decoration: line-through;
}
.another_predict:hover {
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.1);
	cursor: pointer;
}







