{% extends "index.html" %}
{% block title %}Название и описание блюда{% endblock %}
{% block header_present %}Присоединитесь к надежному партнеру по доставке еды{% endblock %}
{% block header_present_buttom %}
    <a href="https://www.delivery-club.ru/partners?step=1">
      <div>
        Подключиться
      </div>
    </a>
{% endblock %}
{% block content %}
<div class="form-predict">
    <form method="POST" action="{{ url_for('predict_form') }}">
        <div class="row">
            <div class="name_dish label">
                Название блюда
            </div>
            <div class="product_description label">
                Описание блюда
            </div>
            <div class="price label">
                Цена
            </div>
            <div class="request label">
                
            </div>
            <div class="category label">
                Категория
            </div>
        </div>
        <div class="row">
            
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                    {{ field(class=field.short_name) }}
            {% endfor %}
            
            <button class="request" type="submit">
                Прогноз
            </button>
        </div>
    </form>
        <div class="back">
            <div>
                <a href="{{ url_for('index') }}" style="color: white;">
                    <button type="submit" class="back-button">
                        Главная
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block how_this_works %}

{% endblock %}