
{% extends "index.html" %}
{% block title %}Название и описание блюда{% endblock %}
{% block header_present %}Присоединитесь к надежному партнеру по доставке еды{% endblock %}
{% block header_present_buttom %}
    <a href="https://www.delivery-club.ru/partners?step=1">
      <div>
        Подключиться
      </div>
    </a>
{% endblock %}
{% block content %}
    {% if not response.error %}
<div class="form-predict">
    <form method="POST" action="{{ url_for('predict_form') }}">
        {% for resp in response %}
            <div class="row">

                <input class="name_dish-predict" placeholder="{{ resp.name_dish }}" required type="text" disabled="True">
                <input class="product_description-predict" placeholder="{{ resp.product_description }}" required type="text" disabled="True">
                
                <button class="request disabled" type="submit" disabled="True">
                    Прогноз
                </button>
                <div class="category-predict">
                    {{ resp.prediction }}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                    {{ field(class=field.short_name, placeholder=field.label.text, value="") }}
            {% endfor %}
            
            <button class="request" type="submit">
                Прогноз
            </button>
            <div class="category">
                <input class="category" placeholder="Категория" required type="text" value disabled="True">
            </div>
        </div>
    </form>
</div>
    <div class="back">
        <div>
            <button type="submit" class="back-button">
                <a href="{{ url_for('predict_form') }}">Назад</a>
            </button>
        </div>
        <div>
            <button type="submit" class="main-button">
                <a href="{{ url_for('index') }}">Главная</a>
            </button>
        </div>
    </div>
    {% else %}
        <div class="card">
        <div class="card-header text-center">
            <b>Ошибка</b>
        </div>
        <div class="card-body">
            {% if response.error == 'ConnectionError' %}
                <p class="card-text text-center">Нет связи с ML сервисом</p>
            {% else %}
                <p class="card-text text-center">Ошибка ML сервиса</p>
        {% endif %}
        <div class="text-center">
                <a href="{{ url_for('predict_form') }}" class="btn btn-primary">Назад</a>
        </div>
        </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}

{% block how_this_works %}

{% endblock %}